<!DOCTYPE html>
<html class="background">
  <head>
    <meta charset="utf-8">
    <title>App4</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel=”stylesheet” media=”all” href=”/assets/application.self-e80e8f2318043e8af94dddc2adad5a4f09739a8ebb323b3ab31cd71d45fd9113.css?body=1″ data-turbolinks-track=”true” />
    <script src=”/assets/jquery.self-a714331225dda820228db323939889f149aec0127aeb06255646b616ba1ca419.js?body=1″ data-turbolinks-track=”true”></script>
    <script src=”/assets/jquery_ujs.self-d456baa54c1fa6be2ec3711f0a72ddf7a5b2f34a6b4f515f33767d6207b7d4b3.js?body=1″ data-turbolinks-track=”true”></script>
    <script src=”/assets/turbolinks.self-c37727e9bd6b2735da5c311aa83fead54ed0be6cc8bd9a65309e9c5abe2cbfff.js?body=1″ data-turbolinks-track=”true”></script>
    <script src=”/assets/application.self-3b8dabdc891efe46b9a144b400ad69e37d7e5876bdc39dee783419a69d7ca819.js?body=1″ data-turbolinks-track=”true”></script>
    <meta name=”csrf-param” content=”authenticity_token” />
    <meta name=”csrf-token” content=”xwNlIyeEqvqE/syuXJPfOaorWfVDvmRFOY0kr9/Y6dPODN1uSLFHGzPk/ZVJ4LLGrbUI4g2m2GFO+JnOfEVW3w==” />
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
    
      <header class="Black">
      <div>
        <a class="a" href="/">HOME</a>
        <a class="a" href="/articles">ログイン</a>
        <a class="a" <%= link_to 'お問合せ', controller:'users'%></a>
        </div>
      </header>
  <body>
    <%= yield %>
  </body>
</html>
